
.App {
  height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.clock__timer, .clock__day, .clock__24h-switch {
  font-size: 1.3rem;
}

.clock__day{
  margin-top: 39vh;
  font-size: 2rem;
}

.clock__timer {
  font-size: 8rem;
}